* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #eff3f7;
  height: 100%;
}

html,
body,
#potato,
.container {
  height: 100%;
  display: flex;
  /* justify-content: center; */
  left: 40px;
  
}


.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* padding: 50px; */
  padding-top: 70px;
  width: 80%;
  margin-left: 250px;
}

.sideBar {
  display: flex;
  width: 200px;
  height: 100%;
  background-color: black;
  float: left;
  position: fixed;
  padding: 10px;
  color: white;
}

.menu_title {
  margin-left: -20px;
  font-size: 24px;
  color: white;
}

.menu_sub {
  /* top:100px; */
  position: relative;
  font-size: 20px;
  color: white;
}

.login {
  display: flex;
  margin-top: 100px;
  margin-left: 450px;
  float: center;
  position: fixed;
  padding: 10px;
  flex-wrap: wrap;
  font-size: 24px;
}

.login .form-signin {
  margin-left: 100px;
}

.login .form-signin .sr-only1{
  margin-right: 100px;
}

.login .form-signin .sr-only2{
  
  margin-right: 67px;
}

.login .form-signin .form-control{
  width: 300px;
  height: 40px;
  font-size: 15px;
}

.login .form-signin .login-button{
  border: 1px solid  black;
  background-color: rgba(0,0,0,0);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
  border-top-left-radius: 10px; 
  width: 470px;
  height: 40px;
  font-size: 15px;
  color: black;
}